

.ticker-container {
  height: 44px;
  width: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
  
  color: #000;
  background: #fff;
  box-shadow: inset 0 50px 50px -50px #fff, inset 0 -50px 50px -50px #fff;
  /*background-color: white;
  color: black;*/
  font-size: 1.1em;
  margin-top: 15px;
}
.ticker-container .ticker-caption {
  height: 44px;
 
 /* background-color: #ffed00;*/
  /* box-shadow: inset 0 50px 50px -50px #ffed00, inset 0 -50px 50px -50px #ffed00;*/
  display: table;
  position: absolute;
  color: white;
  
  z-index: 1;
}
.ticker-container .ticker-caption p {
  color: #003066;
  height: inherit;
  width: inherit;
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
  font-size: 1.3em !important;
  padding: 5px;
  text-transform: uppercase;
}
.ticker p{
    color: #003066;
    font-size: 1.3em !important;
    text-transform: capitalize!important;
    font-weight: bold !important;
    margin-left: 10px !important;
}
.ticker {
   margin-left: 164px;
  font-size: 0.8em;
  z-index: 1;
   margin-top: 10px;
 
   padding-right: 5px;
}
.ticker ul {
  list-style: none;
  padding: 0;
  height: auto;

 
}
.ticker a{
    color: #003066;
  
   text-transform: capitalize;
   font-weight:bold;

 
}
.ticker a:hover {
  color: #000;
  text-decoration: underline;
 }
.milumax{
  width: 100%;
}
              #milu {
              
              top: 30px;
              overflow: hidden;
              position: fixed;
              width: 100%;
             
              z-index: 100;
              
            } 
            @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)
            {
              #milu {
                  
                  top: 86px;
                  overflow: hidden;
                  position: fixed;
                  width: 100%;
                  text-transform: capitalize;
                  z-index: 100;
                  background: #fff;
                  height:54px;
              
              } 
            }





@media (min-width: 768px) {
  .ticker-container {
    margin-bottom: 10px;
  }
}

@media (min-width: 992px) {
  .ticker-container {
    /* margin-bottom: 20px; */
  }
}